<table class="mt-3 table table-striped table-bordered">
  <thead class="table-dark">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">Phone</th>
    <th scope="col">Twitter</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <% @friends.each do |friend| %>
  <tr>
    <td>
      <%= link_to "#{friend.first_name.capitalize}  #{friend.last_name.capitalize}", friend%>
    </td>
    <td>
    <%= friend.email %>
    </td>
    <td>
    <%= friend.phone %>
    </td>
    <td>
    <%= friend.twitter %>
    </td>

    <td>
      <%= link_to "Delete", friend, data: { "turbo-method": :delete }, class: "btn btn-outline-danger"%>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>

<div id="friends">

</div>

<%= link_to "New friend", new_friend_path, class: "btn btn-secondary"%>
